@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.gradient {
  background: linear-gradient(173deg, #bd91f0, #5ce6d5);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 50s ease infinite;
  -moz-animation: AnimationName 50s ease infinite;
  animation: AnimationName 50s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:61% 0%}
  50%{background-position:40% 100%}
  100%{background-position:61% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:61% 0%}
  50%{background-position:40% 100%}
  100%{background-position:61% 0%}
}
@keyframes AnimationName {
  0%{background-position:61% 0%}
  50%{background-position:40% 100%}
  100%{background-position:61% 0%}
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
}

.navBar {
  margin-top: 10px;
  position: absolute;
  right: 10px;
}

.navBarButton {
  margin-left: 5px;
  margin-right: 5px;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowFeed {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.float {
  background: white;
  padding: 20px;
}

.rowCard {
  max-width: 300px;
}

.image {
  max-width: 700px;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.spaced {
  margin-top: 6px
}

.subtitle {
  margin-top: 10px;
}

.card {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shadowed { 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}