@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.navBarButton {
  margin-left: 5px;
  margin-right: 5px;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowFeed {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.rowCard {
  max-width: 300px;
}

.image {
  max-width: 700px;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spaced {
  margin-top: 6px
}

.subtitle {
  margin-top: 10px;
}

.card {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}