body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 900px;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ascii {
  font-family: monospace;
  white-space: pre
}

.spaced {
  margin-top: 6px
}